{% extends "padre.html" %}

{% block titulo_pagina %}
PreEntrega3 - Profesores
{% endblock %}

{% block titulo %}
<p>Bienvenido Profesores.<br>Aqui puede agregar Profesores</p>
{% endblock %}

{% block area_form %}

<form action="/AppCoder/profesores/" method="post"> {% csrf_token %}
    <p></p>
    <p><strong style="font-size: larger;">Formulario - Agregar Profesor</strong></p>
    <p> <strong>Nombre: </strong> &nbsp;&nbsp; <input type="text" name="profesor_nombre"> </p>
    <p> <strong>Apellido: </strong> &nbsp;&nbsp;&nbsp;<input type="text" name="profesor_apellido"> </p>
    <p> <strong>Email: </strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="email" name="profesor_email"> </p>
    <p> <strong>Profesion: </strong> <input type="text" name="curso_profesion">
     </p><p>
    <button type="submit">Enviar</button></p>

</form>

{% endblock %}